.background{
    background-color: #FFFFF4;
}
.button{
    width: 170px;
    height: 60px;
    background-color: #2A1E59;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
footer .button{
    font-size: 18px;
}
h1,h3,h4{
    color: #363958;
}
p{
    color: #3E3E3E;
}
.header-text{
    font-size: 70px;
}
.section-margin{
    margin-top: 120px;
}
.card-radius{
    border-radius: 20px;
}
.price{
    font-weight: bold;
    font-size: 32px;
}
.image-width img{
    width: 80px;
    height: 100px;
}